*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
docs/
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/copilotDiffState.xml


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
